[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Backend"
author = 45413686
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && go run cmd/adminisoftwared.go"
